.body{
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    margin: 15px;
}
.qwerty{
 
position: relative;
width: 1920px;
height: 1080px;

background: #009E95;
}
#main{
    padding:15px;
    border: 10px;
}